* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(247, 241, 232);
}

.main-header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: rgb(97, 97, 97) 2px solid;
    z-index: 500;
    background-color: rgb(0, 0, 0);
    color: rgb(247, 241, 232);
    font-size: 52px;
    text-align: left;
    padding-left: 150px;
    font-weight: 100;
}

.side-bar {
    width: 20%;
    background-color: aquamarine;
    display: block;
}

.aside-section-title {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-list {
    display: block;
    padding: 15px;
}

.user-info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.user-init {
    margin-right: 100px;
}

.both-sections {
    display: flex;
}

.view-hide-btn {
    width: 60px;
    height: 60px;
}

.main-body {
    display: block;
    width: 80%;
}

.scoreboard {
    display: block;
    justify-content: space-around;
    padding: 15px;
    padding-top: 8px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0 0 20px 20px;
    background-color: rgb(247, 241, 232);
    box-shadow: 0px 12px 13px -10px rgba(0, 0, 0, 0.49);
}

.scoreboard-header {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 26px;
}

.timer {
    display: flex;
    border-top: solid gray 1px;
    padding: 20px;
    padding-left: 50px;
    width: 250px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(85, 85, 85);

}

.score-correct {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.score-incorrect {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.score-meter {
    display: flex;
    justify-content: space-evenly;
    border-top: solid gray 1px;
    padding: 20px;
    width: 500px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(85, 85, 85);
}

.scoreboard-content {
    display: flex;
    justify-content: center;
}

.welcome-page {
    margin: 2vw;
    text-align: center;
    padding: 30px;
    padding-bottom: 250px;
    height: 670px;
    background-color: rgb(243, 239, 239);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.49);
}

.quiz-greeting {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 54px;
}

.italicized-span {
    font-style: italic;
}

.challenge-paragraph {
    padding: 25px;
}

.quiz-instruction {
    padding: 15px;
    padding-bottom: 80px;
}

.start-quiz-btn {
    width: 250px;
    height: 60px;
    border-radius: 15px;
}

.all-challanges {
    text-align: center;
}

.challenge {
    margin: 2vw;
    text-align: center;
    padding: 30px;
    padding-bottom: 250px;
    height: 670px;
    background-color: rgb(243, 239, 239);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.49);
}

.question {
    padding-top: 50px;
    padding-left: 280px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 30px;
}

.list-of-answers {
    display: block;
    align-items: center;
    padding-left: 280px;
    padding-bottom: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.option {
    width: 44vw;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 22px;
}

.answer-option {
    width: 50px;
    height: 50px;
    background-color: rgb(225, 224, 223);
    border-radius: 50px;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.results-page {
    margin: 2vw;
    text-align: center;
    padding: 30px;
    padding-bottom: 250px;
    height: 670px;
    background-color: rgb(243, 239, 239);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.49);
}

.user-init-input {
    width: 250px;
    height: 60px;
    border-radius: 15px;
}

.results-page {
    padding-top: 50px;
    padding-bottom: 100px;
}

.user-instruction {
    padding: 15px;
    padding-bottom: 50px;
}

.submit-init-btn {
    width: 250px;
    height: 60px;
    border-radius: 15px;
}

.final-form {
    content: "\a";
    white-space: pre;
}

.hidden {
    display: none;
}